/* /Pages/Minesweeper.razor.rz.scp.css */
.minesweeper-game div[b-r0pm7jxzc5] {
    line-height: 0;
    font-size: 0;
    float: left;
}

.minesweeper-board[b-r0pm7jxzc5] {
    display: inline-block;
    font-family: Arial, sans-serif;
    background-color: silver;
}

.minesweeper-medium[b-r0pm7jxzc5] {
    width: 276px;
    height: 318px;
}

.minesweeper-board div[b-r0pm7jxzc5] {
    background-image: url(images/minesweeper/sprite100.gif);
}

.minesweeper-gamepiece[b-r0pm7jxzc5] {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    font-size: 0;
}

.minesweeper-unrevealed[b-r0pm7jxzc5] {
    background-position: 0 -39px;
}

.minesweeper-flagged[b-r0pm7jxzc5] {
    background-position: -16px -39px;
}

.minesweeper-mine[b-r0pm7jxzc5] {
    background-position: -64px -39px;
}

.minesweeper-mine-smiley[b-r0pm7jxzc5] {
    background-image: url("../smiley-small.png");
}

.minesweeper-0[b-r0pm7jxzc5] {
    background-position: 0 -23px;
}

.minesweeper-1[b-r0pm7jxzc5] {
    background-position: -16px -23px;
}

.minesweeper-2[b-r0pm7jxzc5] {
    background-position: -32px -23px;
}

.minesweeper-3[b-r0pm7jxzc5] {
    background-position: -48px -23px;
}

.minesweeper-4[b-r0pm7jxzc5] {
    background-position: -64px -23px;
}

.minesweeper-5[b-r0pm7jxzc5] {
    background-position: -80px -23px;
}

.minesweeper-6[b-r0pm7jxzc5] {
    background-position: -96px -23px;
}

.minesweeper-7[b-r0pm7jxzc5] {
    background-position: -112px -23px;
}

.minesweeper-8[b-r0pm7jxzc5] {
    background-position: -128px -23px;
}

.minesweeper-border-jointleft[b-r0pm7jxzc5] {
    background-position: -56px -81px;
    width: 10px;
    height: 10px
}

.minesweeper-border-jointright[b-r0pm7jxzc5] {
    background-position: -66px -81px;
    width: 10px;
    height: 10px
}

.minesweeper-border-horizontal[b-r0pm7jxzc5] {
    background-position: -40px -81px;
    width: 16px;
    height: 10px;
}

.minesweeper-border-vertical[b-r0pm7jxzc5] {
    background-position: -134px -39px;
    width: 10px;
    height: 16px;
}

.minesweeper-border-vertical-long[b-r0pm7jxzc5] {
    background-position: -134px -39px;
    width: 10px;
    height: 32px;
}

.minesweeper-border-bottomleft[b-r0pm7jxzc5] {
    background-position: -20px -81px;
    width: 10px;
    height: 10px;
}

.minesweeper-border-bottomright[b-r0pm7jxzc5] {
    background-position: -30px -81px;
    width: 10px;
    height: 10px;
}

.minesweeper-border-topleft[b-r0pm7jxzc5] {
    background-position: 0 -81px;
    width: 10px;
    height: 10px;
}

.minesweeper-border-topright[b-r0pm7jxzc5] {
    background-position: -10px -81px;
    width: 10px;
    height: 10px;
}

.minesweeper-time-0[b-r0pm7jxzc5] {
    background-position: 0 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-1[b-r0pm7jxzc5] {
    background-position: -13px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-2[b-r0pm7jxzc5] {
    background-position: -26px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-3[b-r0pm7jxzc5] {
    background-position: -39px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-4[b-r0pm7jxzc5] {
    background-position: -52px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-5[b-r0pm7jxzc5] {
    background-position: -65px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-6[b-r0pm7jxzc5] {
    background-position: -78px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-7[b-r0pm7jxzc5] {
    background-position: -91px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-8[b-r0pm7jxzc5] {
    background-position: -104px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-9[b-r0pm7jxzc5] {
    background-position: -117px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-blank[b-r0pm7jxzc5] {
    background-position: -130px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-board #mines_hundreds[b-r0pm7jxzc5] {
    margin: 4px 0 5px 6px;
}

.minesweeper-board #mines_tens[b-r0pm7jxzc5] {
    margin: 4px 0 5px 0;
}

.minesweeper-board #mines_ones[b-r0pm7jxzc5] {
    margin: 4px 0 5px 0;
}

.minesweeper-board #seconds_hundreds[b-r0pm7jxzc5] {
    margin: 4px 0 5px 0;
}

.minesweeper-board #seconds_tens[b-r0pm7jxzc5] {
    margin: 4px 0 5px 0;
}

.minesweeper-board #seconds_ones[b-r0pm7jxzc5] {
    margin: 4px 6px 5px 0;
}

.minesweeper-board #face[b-r0pm7jxzc5] {
    margin-top: 3px;
    margin-bottom: 3px;
}

.minesweeper-board .minesweeper-face-smile[b-r0pm7jxzc5] {
    background-position: 0 -55px;
    width: 26px;
    height: 26px;
}

.minesweeper-board .minesweeper-face-dead[b-r0pm7jxzc5] {
    background-position: -78px -55px;
    width: 26px;
    height: 26px;
}

.minesweeper-board .minesweeper-face-oooh[b-r0pm7jxzc5] {
    background-position: -52px -55px;
    width: 26px;
    height: 26px;
}

.minesweeper-board .minesweeper-face-win[b-r0pm7jxzc5] {
    background-position: -104px -55px;
    width: 26px;
    height: 26px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-5fm69uce70] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-5fm69uce70] {
    flex: 1;
}

.sidebar[b-5fm69uce70] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-5fm69uce70] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5fm69uce70]  a, .top-row .btn-link[b-5fm69uce70] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-5fm69uce70] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5fm69uce70] {
        display: none;
    }

    .top-row.auth[b-5fm69uce70] {
        justify-content: space-between;
    }

    .top-row a[b-5fm69uce70], .top-row .btn-link[b-5fm69uce70] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5fm69uce70] {
        flex-direction: row;
    }

    .sidebar[b-5fm69uce70] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5fm69uce70] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-5fm69uce70] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-jvnagd7hv0] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-jvnagd7hv0] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-jvnagd7hv0] {
    font-size: 1.1rem;
}

.oi[b-jvnagd7hv0] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-jvnagd7hv0] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-jvnagd7hv0] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-jvnagd7hv0] {
        padding-bottom: 1rem;
    }

    .nav-item[b-jvnagd7hv0]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-jvnagd7hv0]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-jvnagd7hv0]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jvnagd7hv0] {
        display: none;
    }

    .collapse[b-jvnagd7hv0] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
